section.contact
	.container
		.row
			.col-md-12
				h2 Contact
				h2 Us
				.line-separador
		.row
			.col-md-8
				p We love being a web designer and we're incredibly thankful that we decided to join this industry many years ago. Contact us so we can help better.
				form(role='form')
					+form-group("name","Name *")
					+form-group("email","Email *")
					+form-group("phone","Subject *")
				textarea.form-control(cols='30', rows='10',placeholder='Message *')
				button.btn.btn-default.btn-lg(type="button") SUBMIT
			.col-md-4
				h5 
					strong CONTACT INFO
				p 1455 19th St.
				p Santa Monica, CA 90404
				p 
					span EMAIL: yourmail@yourdomain.com
				p 
					span PHONE: +88 (0) 101 0000 000
				p 
					span FAX: +88 (0) 202 0000 001
				h5 
					strong CONNECT WITH US
				p.sociales
					i.social_facebook
					i.social_twitter
					i.social_googleplus
					i.social_pinterest
					i.social_linkedin
					i.social_tumblr
				p.sociales
					i.social_tumbleupon
					i.social_wordpress
					i.social_dribbble
					i.social_vimeo
					i.social_skype
					i.social_googledrive
				p
					i.arrow_carrot-down
					strong Our Company Mission
				hr
				p
					i.arrow_carrot-down
					strong Company Philosophy
				hr
				p
					i.arrow_carrot-down
					strong Company Promise
				hr