.pie
	.container
		.row
			.col-md-4
				img(src="assets/images/w-logo.jpg", alt="logo")
			.col-md-4.text-center.derechos
				span COPYRIGHT &copy;2016 WILY LAB LIMITED
				span DESIGED AND DEVELOPED BY WILYLAB
			.col-md-4.text-right
				.social_media
					i.social_facebook
					i.social_twitter
					i.social_googleplus
					i.social_pinterest
