header
    nav.navbar.navbar-default
        .container.navegador
            .navbar-header
                button(type='button',class='navbar-toggle collapsed',data-toggle='collapse',data-target='#bs-example-navbar-collapse-1',aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                img(src="assets/images/w-logo.jpg", alt="logo")

            .collapse.navbar-collapse#bs-example-navbar-collapse-1
                ul.nav.navbar-nav.navbar-right
                    li: a(href='#') HOME
                    li: a(href='#') SERVICES
                    li: a(href='#') ABOUT
                    li: a(href='#') PORTFOLIO
                    li: a(href='#') TEAM
                    li: a(href='#') TESTIMONIAL
                    li: a(href='#') PRICING
                    li: a(href='#') CONTACT