section.precios
	.container
		.row
			.col-md-12
				h2 Our Best
				h2 Offers
				.line-separador
		.row
			.col-md-3.text-center
				+box_precios('$50/mo')
			.col-md-3.text-center
				+box_precios('$50/mo')
			.col-md-3.text-center
				+box_precios('$50/mo')
			.col-md-3.text-center
				+box_precios('$50/mo')