section.services
	.container
		.row
			.col-md-6
				.bg_computer
			.col-md-6.services-col2
				h2 Services
				h2 We Provide
				.line-separador
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
				+media('online-store15','PSD TEMPLATE DESIGN')
				+media('mug16','GRAPHICS DESIGN')
				+media('photography88','PHOTOGRAPHY')