section.team
	.container
		.row
			.col-md-12.row-team
				h2 Meet The
				h2 Team
				.line-separador
				.box-team
					+box_team('member7','NETHANEL GILROY','Founder & CEO')
					+box_team('member8','NAREK ROUBEN','Marketing Director')
				.box-team
					+box_team1('member9','SAMANTHA MILNER','Creative Director')
					+box_team1('member10','LOUISE ALASTRIONA','Ui/UX Specialist')

