.banner{
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../../assets/images/home4.jpg");
	background-repeat: no-repeat;
	background-size: 116% 100%;
    padding: 15% 0% 19%;
	h1{
		font-size: 4.5em;
	}
}